:root {
  box-sizing: border-box;
  font-size: 16px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
  color: #070707;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  width: 95%;
}
